* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  display: flex;
  align-items: center;
  min-height: 100vh;
}



.main {
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
  padding: 30px;
}



.main__title {
  margin-bottom: 25px;
  font-size: 36px;
  text-align: center;
}

.sign__label {
  display: block;
  font-size: 26px;
  margin-bottom: 16px;
  margin-right: 16px;
}


#signSelect {
  display: flex;
  text-align: center;
  margin-bottom: 16px;
}

#sign {
  max-width: 120px;


}


.submit__button {
  border: 1px solid #d9d9d9;
  background-color: white;
  padding: 10px 20px;
  max-width: 120px;
  margin-left: auto;
  margin-right: auto;
  max-height: 60px;
}

select {
  font-size: 20px;
  margin-right: 16px;
  max-height: 60px;
}

option {
  font-size: 20px;
}

.submit__button:hover {
  border: 1px solid gray;
}

.placeholder {
  font-size: 26px;
  display: none;
}

.horoscope__text {
  max-width: 600px;
  font-size: 24px;
}

@media screen and (max-width: 600px) {

  
  .main__title {
    font-size: 26px;
  }

  #signSelect {
    display: flex;
    text-align: center;

  }

 

  .sign__label {
    font-size: 20px;
  }

  .submit__button {
    padding: 5px 10px;

  }
  
  .horoscope__text {
    font-size: 20px;
  }

}

@media screen and (max-width: 400px) {
  .main__title {
    font-size: 20px;
  }
  
  #signSelect {
    flex-direction: column;
  }

  #sign {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }
  
  .horoscope__text {
    font-size: 16px;
  }

}